# Pandas

In [ ]:
#pandas install
pip install pandas

In [2]:
# pandas import
import pandas as pd

## series

1개의 컬럼 값으로 구성된 1차원 데이터 셋

In [4]:
data = ["A", "B", "C", "D"]
se = pd.Series(data)
se

0    A
1    B
2    C
3    D
dtype: object

In [5]:
# 가져온 데이터의 갯수 파악 
se.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
se.values

array(['A', 'B', 'C', 'D'], dtype=object)

In [7]:
# 인덱싱
print(se[1])
print(se[3])

B
D

In [8]:
# 슬라이싱
print(se[-1:])
print(se[:])

3    D
dtype: object
0    A
1    B
2    C
3    D
dtype: object

In [9]:
# 컬럼 이름 변경
se.name = "alphabet"
se

0    A
1    B
2    C
3    D
Name: alphabet, dtype: object

In [10]:
# 인덱스 이름 변경
se.index.name ="NO."
se

NO.
0    A
1    B
2    C
3    D
Name: alphabet, dtype: object

In [11]:
# Series 생성시 index 지정하기
data = [1, 2, 3, 4]

se = pd.Series(data, index=[1,2,3,5])
print(se)
print(se[1])

1    1
2    2
3    3
5    4
dtype: int64
1

In [12]:
# 조건 주기
se > 40

1    False
2    False
3    False
5    False
dtype: bool

# DataFrame

여러 개의 시리즈가 모여있는 것

In [15]:
import numpy as np

data = np.array([[1,2,3], [4,5,6], [7,8,9]])
column = ['D','E','F']

df = pd.DataFrame(data=data, index=['A', 'B', 'C'], columns = column)
df

# df = pd.read_csv("data.csv")
# df

   D  E  F
A  1  2  3
B  4  5  6
C  7  8  9

In [16]:
# DataFrame 생성
data = {
    'country' : ["kor", "usa", "china", "japan"],
    'rank' : [1,2,3,4],
    'grade' : ["A", "B", "C", "D"]
}

df = pd.DataFrame(data)
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [17]:
# df.set_index로 인덱스 지정 - 필터 역할
df = df.set_index('grade')
df

      country  rank
grade
A         kor     1
B         usa     2
C       china     3
D       japan     4

# 데이터 셀렉션

In [18]:
# DataFrame 생성
data = {
    'country' : ["kor", "usa", "china", "japan"],
    'rank' : [1,2,3,4],
    'grade' : ["A", "B", "C","D"]
}

df = pd.DataFrame(data)
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [19]:
#(1) df.컬럼, df[컬럼]

# 하나의 컬럼 조회
df.country

0      kor
1      usa
2    china
3    japan
Name: country, dtype: object

In [20]:
df['country'] # 이것을 더 자주 씀

0      kor
1      usa
2    china
3    japan
Name: country, dtype: object

In [21]:
## 둘 이상의 컬럼 조회
# 멀티로 가져온다 = 리스트

print(df[['country', 'grade']]) # 대괄호 2번 감싸야 DF 형식이 된다

  country grade
0     kor     A
1     usa     B
2   china     C
3   japan     D

In [22]:
# (2) loc[인덱스명, 컬럼명] location base

# 인덱스 값이 0인 행 조회
df.loc[0]

country    kor
rank         1
grade        A
Name: 0, dtype: object

In [23]:
# 2개 이상의 행 조회
df.loc[0:2]

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C

In [24]:
df.loc[[0,2]] # 인덱스 값을 지정해 원하는 행의 값을 '여러 개' 가져올 수 있다

  country  rank grade
0     kor     1     A
2   china     3     C

In [25]:
df.loc[0, 'grade'] # 행과 열의 좌표. loc[행, 열] : 0번째 행에서 column값이 'grade'인 값
df.loc[[0], 'grade']

0    A
Name: grade, dtype: object

In [26]:
df.loc[0:2, ['country', 'grade']]

  country grade
0     kor     A
1     usa     B
2   china     C

In [27]:
df.loc[(df['grade'] == "A") | (df['rank'] > 2)]
# true로 뜨는 값만 데이터 프레임에 담긴다.

  country  rank grade
0     kor     1     A
2   china     3     C
3   japan     4     D

In [29]:
#(3) iloc[행의값인덱스, 칼럼인덱스]

df.iloc[2] # 3행의 데이터 # 전체 데이터 프레임에서 0번째 행에 있는 값

TypeError: Cannot index by location index with a non-integer key

In [30]:
loc = df.loc[0:2] # index 값 # df.loc[0:2]
print(loc)

iloc = df.iloc[0:2] # 행의 범위
print(iloc)

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
  country  rank grade
0     kor     1     A
1     usa     2     B

In [ ]:
df.iloc[0:3, 0:2] #행,열 # iloc는 무조건 정수기반!

In [45]:
# df.iloc[[0, 3], 1:3]
# 1단계, 그냥 iloc로 데이터 몇 개를 불러본다.
# 2단계, 
df.loc[[0,3], ['rank', 'grade']]

   rank grade
0     1     A
3     4     D

# filter() 을 이용한 검색

In [50]:
df.filter?
# ?을 넣으면 예제가 뜬다.

In [51]:
df.filter(items=['country', 'rank', 'item1', 'item2'])

  country  rank
0     kor     1
1     usa     2
2   china     3
3   japan     4

In [52]:
df.filter(like='c', axis=1) # 컬럼명에 c가 포함된 검색

  country
0     kor
1     usa
2   china
3   japan

In [55]:
df.filter(like='r', axis=1) # r이 들어간 컬럼명

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

# Dataframe 추가

In [59]:
# (1) series를 이용해서 열 데이터 추가
president = pd.Series(["yoon", "biden", "kishida", "jinping"], index = [0,1,2,3]) # index값도 정해줘야한다
president

gdp = pd.Series(["1000", "2000", "3000", "4000"], index = [0,1,2,3]) # index값도 정해줘야한다
gdp

df['president'] = president # df에 컬럼열을 만들고 담고 싶은 값을 설정
df['gdp'] = gdp
df

  country  rank grade president   gdp
0     kor     1     A      yoon  1000
1     usa     2     B     biden  2000
2   china     3     C   kishida  3000
3   japan     4     D   jinping  4000

In [62]:
# (2) Numpy를 이용하여 열 데이터 추가
import numpy as np

# add = pd.Series([0,0,0,0], index = [0,1,2,3]) # index값도 정해줘야한다

add = np.zeros(4).astype(int)
df['etc'] = add # 추가하고 싶은 column의 이름을 더한다.
df

  country  rank grade president   gdp  etc
0     kor     1     A      yoon  1000    0
1     usa     2     B     biden  2000    0
2   china     3     C   kishida  3000    0
3   japan     4     D   jinping  4000    0